* {
	font-family: 'Montserrat', sans-serif;
}

body {
	width: 100%;
	margin: 0px;
	background-image: url(img/bt.jpeg);
	background-repeat: repeat-y no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.icons>a {
	text-decoration: none;
	color: darkgray;
}

.location>a {
	text-decoration: none;
	color: white;
}

.location:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/*---------- Responsive Grid ---------------*/

@media screen and (min-width: 1001px) {
	.card {
		margin-left: 32%;
		margin-top: 2%;
		padding: 0px;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		width: 35%;
		border-radius: 5px;
	}
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
	}
	img {
		border: 20px solid white;
		border-radius: 50%;
		margin-top: 8%;
		margin-bottom: -15% !important;
	}
	.name {
		text-align: center;
		font-size: 2.8em;
		color: gainsboro;
		margin-top: 15%;
		margin-bottom: auto;
		text-transform: capitalize;
	}
	hr {
		width: 93%;
		height: 2px;
		background-color: gainsboro;
		border: 0px;
	}
	.subtitle {
		text-align: center;
		font-size: 1.5em;
		color: darkgray;
	}
	.icons {
		font-size: 18px;
		text-align: center;
		margin-right: 0px;
		margin-left: 0px;
		color: darkgray;
		margin-bottom: 40px;
	}
	.location {
		text-align: center;
		color: white;
		font-size: 1.5em;
		display: block;
		background-color: cornflowerblue;		padding: 10px;
		margin-left: 7%;
		margin-right: 7%;
		border-radius: 8px;
	}
}

@media (min-width: 100px) and (max-width: 728px) and (orientation:portrait) {
	body {
		width: 100%;
		margin: 0px;
		background: url(img/bt.jpeg) fixed no;
		overflow-x: hidden;
	}
	hr {
		width: 93%;
		height: 2px;
		background-color: gainsboro;
		border: 0px;
	}
	.card {
		margin-top: 10%;
		margin-left: 2%;
		margin-right: 0px;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		width: 95%;
		border-radius: 5px;
	}
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
	}
	img {
		border: 15px solid white;
		margin-bottom: -20% !important;
		border-radius: 50%;
	}
	.name {
		padding-right: 4px;
		padding-left: 4px;
		text-align: center;
		font-size: 2.5em;
		color: gainsboro;
		margin-top: 16%;
		margin-bottom: auto;
		text-transform: capitalize;
	}
	.subtitle {
		text-align: center;
		font-size: 1.2em;
		color: darkgray;
	}
	.icons {
		font-size: 11px;
		text-align: center;
		margin-right: 0px;
		margin-left: 0px;
		color: darkgray;
		margin-bottom: 40px;
	}
	.location {
		text-align: center;
		color: white;
		font-size: 0.8em;
		display: block;
		background-color: cornflowerblue;
		padding: 10px;
		margin-left: 7%;
		margin-right: 7%;
		border-radius: 8px;
	}
}

@media (min-width: 100px) and (max-width: 728px) and (orientation:landscape) {
	body {
		width: 100%;
		margin: 0px;
		background: url(img/bt.jpeg) fixed no;
		overflow-x: hidden;
	}
	hr {
		width: 93%;
		height: 2px;
		background-color: gainsboro;
		border: 0px;
	}
	.card {
		margin-top: 6%;
		margin-left: 9%;
		margin-right: 0px;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		width: 80%;
		border-radius: 5px;
	}
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
	}
	img {
		border: 15px solid white;
		margin-bottom: -15% !important;
		border-radius: 50%;
	}
	.name {
		padding-right: 4px;
		padding-left: 4px;
		text-align: center;
		font-size: 2.8em;
		color: gainsboro;
		margin-top: 16%;
		margin-bottom: auto;
		text-transform: capitalize;
	}
	.subtitle {
		text-align: center;
		font-size: 1.9em;
		color: darkgray;
	}
	.icons {
		font-size: 18px;
		text-align: center;
		margin-right: 0px;
		margin-left: 0px;
		color: darkgray;
		margin-bottom: 40px;
	}
	.location {
		text-align: center;
		color: white;
		font-size: 1.5em;
		display: block;
		background-color: cornflowerblue;
		padding: 10px;
		margin-left: 7%;
		margin-right: 7%;
		border-radius: 8px;
	}
}

@media only screen and (min-width: 728px) and (max-width: 1000px) {
	body {
		width: 100%;
		margin: 0px;
		background: url(img/bt.jpeg) fixed no;
		overflow-x: hidden;
	}
	hr {
		width: 93%;
		height: 2px;
		background-color: gainsboro;
		border: 0px;
	}
	.card {
		margin-top: 4%;
		margin-left: 13%;
		align-content: center;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		width: 75%;
		border-radius: 5px;
	}
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
	} {
		border: 15px solid white;
		margin-bottom: -18% !important;
		border-radius: 50%;
	}
	.name {
		text-align: center;
		font-size: 2.5em;
		color: gainsboro;
		margin-top: 16%;
		margin-bottom: auto;
		text-transform: capitalize;
	}
	.subtitle {
		text-align: center;
		font-size: 2em;
		color: darkgray;
	}
	.icons {
		font-size: 15px;
		text-align: center;
		margin-right: 0px;
		margin-left: 0px;
		color: darkgray;
		margin-bottom: 40px;
	}
	.location {
		text-align: center;
		color: white;
		font-size: 1.8em;
		display: block;
		background-color: cornflowerblue;
		padding: 10px;
		margin-left: 7%;
		margin-right: 7%;
		border-radius: 8px;
	}
}


/*---------- Responsive Grid Ends ---------------*/


/*---------- ICONS ---------------*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}


/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #cd486b;
    color: white;
}
.fa-github {
    background: black;
    color: white;
}

/*---------- ICONS ENDS---------------*/

footer {
	text-align: center;
	color: white;
	font-size: 1.2em
}
