*{
	font-family: 'Source Serif Pro', serif;
}
.nav-item{
	list-style: none;
	display: inline-block;
	padding-top: 30px;
}
.active {
	background-color: yellow !important;
}
.nav-link{
	color: black !important;
}
.nav-item_1
{
	background:	#fcff18;
	overflow: hidden;
}
.container-fluid
{
	display: flex;
	justify-content: center;
	height: 100vh;
	align-self: center;
}
.a
{
	color: yellow;
}
.b
{
	font-size: 60px;
	font-weight: bolder;
	color: white;
	text-align: center;
	align-self: center;
}
.button
	{
		align-items: center;
		background-color: yellow;
		border: ridge;
		text-transform: uppercase;
		display:inline-block;
		justify-content: center;
		align-content:  center;
		border-radius: 20em;
		padding: 20px 40px;
		
	}
.button:hover{
	transition: all 2s;
	transform: scale(1:2);
	backface-visibility: 200em;
	background-color: blue;

}
.c
{
	text-align: center;
	text-shadow: 50px;
}
.d
{
	display: flex;
}

.flex
{
	align-self: center;
}
.lay1
{
	padding: 5rem;
	align-self: center;
	text-align: center;
	font-weight: bolder;
	text-transform: uppercase;
}
.box-item
{
	display: flex;
	text-align: center;
	justify-content: space-between;
}
.h4
{
	display:flex;
	justify-content: center;
	padding: 40px;
}
.p
{
	display:flex;
	justify-content: center;
	padding: 40px;
}
.container-fluid1
{
	display: flex;
	/* height: 80vh;	 */

}
.lay3
{
	display: flex;
	align-self: center;
	color: yellow;
}
.lay2
{
	/*display: flex;*/
	font-size: 40px;
	font-weight: bolder;
	color: yellow;	
}
.lay4
{
	list-style-image: url(https://colorlib.com/preview/theme/xgym/img/check-icon.png);
	font-size: 1.5em;
	/*padding-right: -125px;*/
	color: white;

}
.flexa
{
	display: flex;
	align-content: right;
	align-self: center;

}
.btn1{
	background-color: yellow;
	text-shadow: 50px;
	text-transform: uppercase;
	border-style: double;
	border-radius: 200px;
	padding: 20px 40px;
}
.btn1:hover{
	animation-name: hinge;
}